* {
    box-sizing: border-box;
}

#drumMachineSection {
    height: auto;
    width: 100%;
    padding-bottom: 50px;
    /* background: linear-gradient(207deg, rgba(71, 109, 204, 0.543), rgb(255, 255, 255)), url('pics/calebStanRogersFolkFestival.jpg'); */
    /* background: rgba(255, 255, 255, 0.39); */
    /* background: rgba(71, 109, 204, 0.954); */
    background-repeat: no-repeat;
    /* background: url("/Users/bwexler/Desktop/calebSoundsStyle/pics/woodAcousticGuitarsBG.jpg") no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    /* background: url("pics/volumeKnobPic.jpeg") no-repeat center center fixed;  */
    object-fit: cover;
    /* background: linear-gradient(white, rgb(71, 94, 170)); */
    /* background: rgba(16, 210, 181, 0.295); */
    /* -webkit-filter: grayscale(40%);
    filter: grayscale(40%); */
    position: relative;
    
}



#drumMachineSectionTitle {
    /* padding-top: 20px; */
    width: 100%;
    /* height: 20%; */
    background: white;
    background: black;
    /* color: black; */
    color:  white;
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
   
}

@keyframes rotate {
    0% {
        /* transform: rotate(20deg);  */

        /* margin-right:300px; */
        opacity: 0
    }

    100% {
        
        transform: rotate(0deg);
        /* margin-right:auto; */
        margin-top: 50px;
        opacity: 1 
    }
}

#drumMachineContainer {
    height: 600px;
    width: 100%;
    max-width: 1000px;
    margin: auto;
    border: 2px solid black;
    margin-top: 550px; 
    background: rgba(128, 128, 128, 0.31);

    
    box-shadow: -5px 10px rgba(0, 0, 0, 0.815);
   
    border-bottom-right-radius: 1%;
    /* transform: rotate(20deg); */
    /* margin-right:300px; */
   
        animation: rotate 1600ms 1; 
        animation-fill-mode:forwards;


   
    /* border-top-right-radius: .3%; */
    
}






#drumMachineTopContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: -7px -10px rgba(0, 0, 0, 0.815);
    /* box-shadow: -7px -10px rgba(0, 0, 0, 0.712); */
    outline-offset: -1px;
    background: white;
    display: flex;
    /* flex-direction: column; */
}
.btn {
    /* background: rgba(45, 51, 221, 0.747) !important; */
    /* margin: auto !important; */
    background: rgb(0, 179, 255) !important;
}

#drumMachineMainContainer {
    height: 80%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    /* background: rgba(128, 128, 128, 0.31); */
    box-shadow: 3px 1px rgb(0, 0, 0);
    padding-right: 8px;
    /* background: rgb(255, 255, 255); */

}

#drumMachineLeftMain {
    width: 50%;
    height: 100%;
    /* background-image: url("pics/beatTape18Caleb.jpg"); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
     /* background: rgba(0, 187, 255, 0.009); */
   
    /* border: 1px solid black; */
    
}

#drumMachineLeftTop {
    width: 100%;
    height: 70%;
    margin-bottom: 15px;
    /* margin: auto; */
}

#soundPackImageContainer {
    width: 60%;
    height: 80%;
    margin: auto;
    margin-top: 80px; 
    /* margin-top: 20px; */
    
    /* border-radius: 50%; */
    
     /* background-image: url("pics/beatTape18Caleb.jpg");
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     object-fit: cover; */
   
}

#packsGallery {
    width: 100%;
    margin: auto;
    height: 89%;
    /* border: 1px solid black; */
    text-align: center;
    box-sizing: border-box;
    /* opacity: .6; */
    display: flex;
    padding: 0 20px;


    
}

.galleryImageContainer {
    width: 33.33%;
    height: 50%;
   
    display: flex; 
    
    opacity: .3;
    border-radius: 20px;
    overflow: hidden;
}

.galleryImage {
    width: 80%;
    height: 90%;
    background: url("pics/kermitCoverArt.jpg");
    /* object-fit: cover; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: auto;
    /* border: 1px solid rgba(0, 0, 0, 0.582); */
    
   
}

#soundPackImage{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 3%;
    /* border-radius: 50%; */
    
}
#drumMachineLeftBottom {
    width: 100%;
    height: 30%;
    background: white;
    background: rgb(216, 216, 216);
    /* border-top: 1px solid black; */
    margin-top: -50px;
  
}

#drumMachineRightMain {
    width: 50%;
    height: 100%;
    border-left: 3px solid black;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    
    
}

#drumMachineBottomContainer {
    height: 10%;
    width: 100%;
    border: 1px solid black;
    box-shadow: 3px 1px rgb(0, 0, 0);
    background: white;
    
}

#shoppingCartOuterContainer {
    /* width: auto; */
    margin: auto;
}

.padRow {
    width: 100%;
    height: 25%;
    /* border: 1px solid black; */
    display: flex;
    
}

.padContainer {
    width: 25%;
    height: 100%;
    
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* background: rgba(128, 128, 128, 0.31); */
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
  
}

.padText {
    height: 18%;
    width: 100%;
    border: 0px solid black;
    font-size: 12px;
    overflow: hidden;
}
.pad {
    height: 82%;
    width: 100%;
    /* border: 5px solid black; */
    border: 8px solid #8080804f;
    /* border: 5px solid #808080;
    border: 5px solid #935f7e; */
    /* border: 5px solid #9677a0; */
    background: rgba(105, 53, 131, 0.753);
    background: rgba(149, 57, 194, 0.753);
    padding: 5px;
    border-radius: 5%;
    box-shadow: 3px 3px rgba(0, 0, 0, 0.815);
    /* outline:    5px solid black; */
    
}

@keyframes padDown {
    0% {
        box-shadow: 3px 3px rgba(0, 0, 0, 0.815);
        border: 8px solid #8080804f;
        padding-left: 50px;
        /* background: rgb(251, 255, 0);
        background: rgb(251, 255, 0);
        background: rgb(0, 30, 255); */
    }

    70% {
        box-shadow: 0px 0px rgba(0, 0, 0, 0.815);
        border: 0px solid #8080804f;
        padding-left: 50px;
        /* background: rgb(255, 0, 255);
        background: rgb(255, 68, 0); */

    }
   
    100% {
        box-shadow: 2px 2px rgba(0, 0, 0, 0.815);
        border: 6px solid #8080804f;
        padding-bottom: 10px; 
        /* background: rgb(0, 225, 255);
        background: rgb(251, 255, 0); */
        
    }
  }
  
  /* .pad:hover {
     animation: padDown 300ms 1;
  } */

  .padDown {
    animation: padDown 80ms 1; 
    /* background: rgb(255, 0, 255);
    background: rgba(102, 44, 220, 0.79); */
  }

#drumMachineLogo {
    /* display: none; */
     background: yellow;
     height: 50px;
     /* width: 20px; */
 }
 
@media only screen and (max-width: 800px) {
    #drumMachineLeftMain {
      
        display: none;
        
    }
    
    #drumMachineRightMain {
        width: 95%;
        margin: auto;
      
        
    }

    #drumMachineSectionTitle {
        text-align: center;
    }

    #drumMachineContainer {
        height: 500px;
    }
}