.card-body {
    text-align: center !important
}

.card {
    margin: auto !important;
    /* border-radius: 10px !important; */
    overflow: hidden;
    margin-top: 50px !important;
    /* background: rgba(60, 108, 167, 0.205) !important; */
    border: 4px solid rgba(73, 244, 184, 0.913);
    border: 4px solid rgb(68, 54, 139);
    border: 1px solid black;
    
  

    box-shadow: 10px 9px rgba(59, 111, 208, 0.913);
    box-shadow: 10px 9px rgb(0, 0, 0);

    height: auto;
    padding-bottom: 20px;
    /* background: rgba(151, 241, 243, 0.055); */
    /* background: yellow; */
    margin-bottom: 50px !important;
    font-family: 'Shadows Into Light' !important;
    display: relative;

    

}

.playIcon {
  
    position: absolute;
    left: 52%;
    top: 47%;
    
    /*
    Nope =(
    margin-left: -25%;
    margin-top: -25%;
    */
  
    /* 
    Yep!
    */
    transform: translate(-50%, -50%);
    /* border: 2px solid yellow; */
    /* height: 40px;
    width: 40px; */
}

.fa-play {
    color: yellow !important;
    color: grey !important;

    opacity: 2;
    margin: auto;  
   
} 

/* #playAndPauseIcon {
    color: grey !important;
    color: rgb(222, 220, 220) !important;
    
    opacity: .7 !important;
    
} */

.playAndPauseIcon {
    color: rgb(222, 220, 220) !important;
    opacity: .7 !important;
}

.playAndPauseIcon:hover {
    opacity: 1 !important;
    /* color: black !important; */
    color: white !important;
    text-shadow: 4px 4px black;
    /* filter: invert(100%) */
    /* color: yellow !important; */
}

/* .card-img-top:hover{
    filter: invert(20%) 
    
} */
/* #playAndPauseIcon2 {
    color: grey !important;
} */



.card-img-top {
    width: 50%;
    height: 140px; 
    object-fit: cover;
    border-radius: 50%;
    margin: auto;
    margin-top: 5px !important;
    /* opacity: .5; */
    /* z-index: -9; */
}

.cdSide{
    height: 100%;
    width: 10%;
    position: absolute;
    background: black;
    border-right: 10px solid rgba(182, 181, 181, 0.288);
}

/* .card-img-top:hover {
    height: 180px; 
    width: 60%;
} */

#cardsContainer {
    width: 100%;
    max-width: 850px;
    /* max-width: 1100px; */
    display: flex;
    margin: auto;
    flex-direction: row; 
    /* margin-bottom: 80px; */
    /* margin-left: 5%; */
}

#cardsContainer2 {
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: auto;
    flex-direction: row; 
    margin-bottom: 80px;
}

.card-title {
    text-align: center;
    font-size: 26px !important;
    /* text-decoration: underline !important; */
    /* text-decoration-color: rgba(156, 197, 209, 0.913) !important; */

    /* text-decoration-color: rgba(207, 156, 209, 0.913) !important; */
    /* text-decoration-color: rgba(73, 244, 184, 0.913) !important; */
    margin-top: 10px !important;
    color: rgba(10, 20, 39, 0.913) !important;
    /* color: rgba(59, 111, 208, 0.913) !important; */
}

#chairsText {
    margin: auto;
    text-align: center;
    font-size: 50px;
    /* text-decoration: underline; */
    /* text-decoration-color: rgba(59, 111, 208, 0.253); */
    /* text-decoration-style: dashed; */
    /* min-width: 1000px; */
    /* padding-left: 250px; */
    /* margin-top: 100px; */
}

#mainContainer {
    /* max-width: 1100px; */
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-left: 530px;

} 

.card-text {
    font-size: 14px;
}

/* .card-text:hover {
    font-size: 16px;
} */

#logo {
    height: 60px;
    /* width: 20px; */
}

/* #logoText {
    padding-top: 50px;
} */



@media only screen and (max-width: 800px) {
    #cardsContainer {
        flex-direction: column; 
        margin-bottom: 0px;

    }

    #mainContainer {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 1200px) {
   

    #mainContainer {
        padding-left: 0px;
    }
}


@media only screen and (max-width: 600px) {


    .card {
        margin-top: 0px !important;
    }

    
}

@media only screen and (max-width: 360px) {


   .navbar-toggler-icon {
       width: 1.3em !important;
       height: 1.3em !important
   }
   #logoText {
    font-size: 15px;
}
}

#absoluteSection2 {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(rgba(29, 27, 169, 0.5), white) ;
    /* top: 0; */
    margin-top: 60px;
    filter: blur(22px)  
}